<template>

    <table class="table table-bordered table-hover">
      <thead>
        <tr><td align="center"  colspan="9"><img src="../../assets/coPilotoEQ.png" height="70%" width="30%"></td><br><br><br><br><br></tr>
        <tr align='center'>
          <th>Vehiculo</th>
          <th>Estado</th>
          <th>Velocidad</th>
          <th>Voltaje Min. Celdas</th>
          <th>Voltaje Max. Celdas</th>
          <th>Temperatura Min. Celdas</th>
          <th>Temperatura Max. Celdas</th>
          <th>Estado del Cargador</th>
          <th>Nivel de SOC</th>
        </tr>
      </thead>
     
      <tbody class="table table-success">
        <tr v-for="(vehiculos, index) in vehiculos" :key="index">
          <td align='center'>{{ vehiculos.info.license_plate }}</td>
          <td align='center'>{{ vehiculos.isOnline }}</td>
          <td align='center'>{{ vehiculos.velocidad.toFixed(0) }}  Km/h</td>
          <td align='center'>{{ vehiculos.voltage_min_celdas.toFixed(2) }}</td>
          <td align='center'>{{ vehiculos.voltage_max_celdas.toFixed(2) }}</td>
          <td align='center'>{{ vehiculos.temp_min_bateria.toFixed(2) }}  °C</td>
          <td align='center'>{{ vehiculos.temp_max_bateria.toFixed(2) }}  °C</td>
          <td align='center'>{{ vehiculos.estado_cargador }}</td>
          <td align='center'>{{ vehiculos.estado.toFixed(2) }}  %</td>
        </tr>
      </tbody>
    </table>
</template>
<script src="./Dashboard.js">
</script>

