<template>
  <div id="app" class="container">
    <Dashboard /> 
  </div>
</template>

<script>
import Dashboard from './components/HomeDashboard/Dashboard.vue'
export default {
  name: 'App',
  components: {
    Dashboard
  }
}
</script>
